<h1>Badges</h1>
<% @badges.each do |badge| %>
<% @category = Category.find_by id: badge.category_id %>
<div class="row">
  <div class="col-md-2">
    <%= image_tag badge.picture.url(:thumb) %>
  </div>
  <div class="col-md-4">
    <h3><%= link_to badge.name, badge_path(badge) %></h3>
    <h5><%= @category.name %></h5>
  </div>
</div>
<br>
<br>
<% end %>