<div class="row">
  <div class="col-md-4">
  <br><br>
    <%= image_tag @badge.picture.url(:medium) %>
  </div>
  <div class="col-md-8">
    <h1><%= @badge.name %></h1>
    <p><%= @badge.description %></p>
  </div>
</div>