.center.hero-unit
  %h1 Welcome to the Badges App!
  %h2 This is the home page for my training application about badges.

  = link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-large btn-primary'
