<div class="center hero-unit">
  <h1>Welcome to the Badges App!</h1>

  <h2>
    This is the home page for my training application about badges.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
